body {
  background-image: url('../backGround.jpg');

}


.chats .card {
  height: 702px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.chats {
  display: flex;
  max-width: 1500px;
  margin: auto;
}

#chatlistCard {
  margin-left: 0;
  top: 0;
  width: 30%;
  /* left: -35px; */
  /* margin-left: 260px; */
  margin-right: 0px;

}

#chatcontent {
  flex: 1;
}

#logo {
  width: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#delete-button{
  margin-left: 180px;
}

.contact {
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 50%;
  border: solid 2.5px white;
}

.contactnameh {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.card-header {
  background-color: #e8a5a450;
  border-bottom-width: 8px;
}


#addcontact {
  float: right;
  margin-top: 12px;
  background-color: #e8a5a400;
  border-color: #e8a5a400;
}
#contactHeader{
  height: 92px;
}

#userHeader {
  height: 92px;
  padding-bottom: 11px;
}

#message {
  float: left;
  width: 868px;
  font-size: 1.3rem;
}

#sendbutton {
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  margin-right: 3px;
  --bs-btn-font-size: 1.3rem;
  --bs-btn-font-weight: 350;
}

#logout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 20px;
  margin-top: 20px;
}

.contactList {
  height: 76px;
  list-style-type: none;
  border: 1px solid #0000001f;
  background-color: #d3d3d33b;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  padding-left: 16px;
  padding-top: 6px;
}

#chatList {
  padding-left: 0px;
  margin-bottom: 0px;
}

.date {
  float: right;
  padding-right: 10px;
  position: relative;
  top: 15px;
  color: rgb(15, 15, 15);
}

#chatlistCard .card-body {
  overflow: scroll;

  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#chatcontent .card-body {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.lastMsg {
  text-align: left;
  position: relative;
  top: 30px;
  left: -46px;
}



.contactnameb {
  padding-top: 0;
  float: left;
  padding-left: 20px;
}

.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: orangered;
}

.border {
  border: 8px solid #666;
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}


.chat {
  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 544px;
}

.messages {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours.message {
  margin-right: auto;
  background-color: #eee;
  position: relative;
}

.yours.message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.yours.message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine.message {
  color: white;
  margin-left: auto;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
  margin-right: 10px;
}

.mine.message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine.message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.msgTime {
  font-size: small;
}

.msgTime.yours {
  text-align: end;

}

.msgTime.mine {
  text-align: initial;
}